.profile_contener {
    background-color: white;
    box-shadow: 0 4px 24px 10px rgba(60,72,88,0.10);
    color: black;
    padding: 20px;
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
}
.profile_contener .info {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.profile_contener .info .img {
    margin-bottom: 30px;
    display: flex;
}
.profile_contener .info .img img , .contener img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 24px 10px rgba(60,72,88,0.10);
    margin-right: 10px;
}
.profile_contener .info .img h1 {
    font-size: xx-large;
    margin-top: 40px;
}
.profile_contener .info .img .status {
    font-size: initial;
    font-weight: 600;
}
.profile_contener .info .img .status span {
    font-size: initial;
    font-weight: 600;
    background-color: rgba(101, 230, 101, 0.589);
    border-radius: 30px;
    padding: 2px 10px;
}
.profile_contener .info .img .user_name {
    font-size: initial;
    font-weight: 600;
    background-color: rgba(49, 53, 49, 0.185);
    border-radius: 30px;
    padding: 2px 20px;
    margin-top: 15px;
}
.profile_contener .info .edit {
    display: flex;
    justify-content: end;
    align-items: start;
}
.profile_contener .info .edit button {
    border-radius: 30px;
    background-color: rgb(35, 35, 255);
    padding: 10px 20px;
    border: none;
}

.profile_contener .contener input {
    border: black solid 2px;
    width: 100%;
    display: block;
    border-radius: 30px;
    padding: 5px;
    color: black;
    margin-bottom: 5px;
}
.profile_contener .contener label {
    color: black;
}
.profile_contener .contener {
    width: 35%;
    box-shadow: 0 4px 24px 10px rgba(60, 72, 88, 0.425);
    margin: -8% 30%;
    background-color: white;
    height: 545px;
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    animation: opacity_2 0.5s ;
}
@keyframes opacity_2 {
    from {
      opacity: 0 ;
    }
    to {
      opacity: 1;
    }
  }
.profile_contener .contener {
    -ms-overflow-style: none; /* IE and legacy Edge */
    scrollbar-width: none; /* Firefox */
}
.profile_contener .contener::-webkit-scrollbar {
    display: none; /* Chrome, Safari, newer Edge (Chromium) */
}
.profile_contener .add {
    border: black solid 2px;
    width: 100%;
    display: block;
    border-radius: 30px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}
.profile_contener .remove {
    border: black solid 2px;
    display: block;
    border-radius: 50%;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}
.profile_contener .contener .Btn_close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.profile_contener .contener .Btn_close button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}
.profile_contener .contener .edit_img {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width : 570px){
    .profile_contener .info .img {
        flex-direction: column;
    }
    .profile_contener .contener {
        width: 82%;
        margin: initial;
    }   
}